.stories a, .stories a:hover {
  color: #000;
}

/* featured */
.featured {
  padding: 20px;
}

.featured img {
  width: 100%;
  display: block;
}

.featured h2 {
  font-size: 50px;
  margin-top: 20px;
}

.featured.black {
  background: #000;
  color: #fff;
}

.black a {
  color: #fff;
}
/* end featured */

/* General */
.navbar-inner {
  min-height: 32px;
}
.navbar .nav > li > a { 
  padding: 5px 15px 5px; 
}

footer {
  background: #222;
  border-top: 2px solid #444;
  color: #aaa;
  font-size: 11px;
  padding-bottom: 30px;
}

footer ul {
  list-style-type: none;
  margin: 0;
}

body {
  padding-bottom: 0;
}

/* End General */

/* Responsive */

@media (max-width: 480px) {
  body {
    background: #efefef;
  }
  .story {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
  }
  .story h2, .story p {
    margin-left: 10px;
  }
  hr {
    display: none;
  }
  .featured {
    padding: 5px;
  }
  .featured h2 {
    font-size: 32px;
    line-height: 36px;
    margin: 5px; 
  }
}