body {
  max-width: 1170px
  }
h1,h2,h3 {
  line-height: 36px;
}

iframe {
  margin: 0;
  padding: 0;
}

a:link, a:hover {
  text-decoration: none;
}

.main a, .main a:hover {
  color: #000;
}

/* featured */
.featured {
  padding: 20px;
}

.featured img {
  width: 100%;
  display: block;
}

.featured h2 {
  font-size: 50px;
  margin-top: 20px;
}

.featured.black {
  background: #000;
  color: #fff;
}

.featured a, .featured a:hover {
  color: #fff;
}
/* end featured */

/* General */
.navbar-fixed-top {
  margin-bottom: 0;
}
.navbar-inner {
  min-height: 28px;
}
.navbar .nav > li > a { 
  padding: 5px 15px 5px; 
}

.navbar-inverse .btn-navbar {
margin: 4px 8px;
}

.nav-collapse li {
  text-align: center;
}

.ads-phone {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ad-horizontal {
  margin-bottom: 10px;
}

header {
  padding: 10px 0;
  background: #d50022;
  color: #fff;
}

.header-white {
  background: #fff;
}

.header-white .searchbox, .weather {
float: right;
}

.menu {
  margin-bottom: 10px;
  background: #ddd;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #fff;
}

.menu li {
  float: left;
  margin: 0 5px;
  padding: 5px;
}

.menu a {
  color: #555;
}

.weather {
  float: left;
  margin-top: 10px;
  margin-left: 50px;
}

.searchbox {
  margin-top: 20px;
}

.mobile-logo {
  width: 85px;
  text-align: center;
  margin-left: 120px;
  margin-top: 8px;
}

footer {
  background: #222;
  border-top: 2px solid #444;
  color: #aaa;
  font-size: 11px;
  padding-bottom: 30px;
}

.footer-inner {
}

footer ul, .no-indent {
  list-style-type: none;
  margin: 0;
}

body {
  padding-bottom: 0;
}

.center {
  text-align: center;
}

/* End General */

/* Ads */
.ads-right {
  position: absolute;
  right: 0px;
  top: 32px;
  margin-left: 200px;
}
/* End Ads */

/* Most read */
.massive {
  background: #000;
  line-height: 24px;
  font-size: 18px;
  padding: 1px 5px;
  color: #fff;
  margin: 0 0 2px;
}

.most-read a, .most-read a:hover {
  color: #014687;
}

.most-read li {
  border-bottom: 1px solid #d3d2c5;
  padding: 2px 0;
}

time {
  color: #666;
  font-size: 10px;
  line-height: 16px;
}

/*End Most read */

/*Full story*/
body.full-story {
padding: 0; 
background: #fff;
}

.story-full {
  font-family: helmet, Helvetica;
}

p {
  color: #404040;
}

.side-padding, .intro, .story-full h1 {
  padding-left: 8px;
  padding-right: 8px;
}

.story-full h1 {
color: #1E1E1E;
font-weight: 700;
letter-spacing: -0.0425em;
font-size: 24px;
line-height: 28px;
padding: 1px 0 4px;
}

.byline {
  border-bottom: 1px solid #DCDCDC;
  display: block;
  margin-bottom: 12px;
  overflow: hidden;
  padding-bottom: 1px;
}

.date {
color: #7FAE41;
font-style: italic;
margin: 10px 0;
font-weight: 300;
-webkit-font-smoothing: subpixel-antialiased;
font-size: 17px;
} 

.story-full img {
  width: 100%;
}

.intro {
color: #1E1E1E;
font-size: 16px;
line-height: 20px;
font-weight: bold;
margin: 10px 0 16px;
}

figcaption {
  padding: 4px 8px 0;
}

.caption {
  color: #808080;
  font-size: 14px;
}




/*End Full story*/

/* Responsive */

@media (max-width: 480px) {
  body {
    background: #efefef;
  }
  img {
    width: 100%;
  }
  .story-teaser {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
  }
  .story-teaser h2, .story-teaser p, .story-teaser li {
    margin-left: 10px;
  }
  hr {
    display: none;
  }
  .featured {
    padding: 5px;
  }
  .featured h2 {
    font-size: 32px;
    line-height: 36px;
    margin: 5px; 
  }
  .massive {
    text-align: center;
  }
  footer {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }
}

/* Fixes */

#page .container {
  max-width: 980px;
  border: none;
  padding-top: 4px;
}

/*BBC fixes*/
@media (max-width: 640px) {
  .container, .c-open {
    border: none;
  }
}

.site-brand-inner, #site-nav-panel, .c-solid > .inner, .c-open {
  margin: 0 auto;
  /*max-width: 980px;*/
  }

@media (min-width: 979px) {
  body .site-brand-inner, #site-nav-panel, .c-solid > .inner, body .c-open {
  margin: 0 auto;
  /*width: 980px;*/
  }
}

#blq-blocks a {
  background-image: url(../img/news-logo.png);
  margin-left: 5px;
}

/*body #brand {
  background: url(../img/news-brand.png);
  color: transparent;
  direction: ltr;
  display: block;

  overflow: hidden;
  padding-top: 23px;
  position: relative;
  text-indent: 150%;
  top: 16.5px;
  width: 86px;
}*/