.stories a, .stories a:hover {
  color: #000;
}

/* featured */
.featured {
  padding: 20px;
}

.featured img {
  width: 100%;
  display: block;
}

.featured h2 {
  font-size: 50px;
  margin-top: 20px;
}

.featured.black {
  background: #000;
  color: #fff;
}

.featured a, .featured a:hover {
  color: #fff;
}
/* end featured */

/* General */
.navbar-inner {
  min-height: 32px;
}
.navbar .nav > li > a { 
  padding: 5px 15px 5px; 
}

footer {
  background: #222;
  border-top: 2px solid #444;
  color: #aaa;
  font-size: 11px;
  padding-bottom: 30px;
}

footer ul, .no-indent {
  list-style-type: none;
  margin: 0;
}

body {
  padding-bottom: 0;
}

/* End General */

/* Ads */
.ads-right {
  position: absolute;
  right: 0px;
  top: 32px;
  margin-left: 200px;
}
/* End Ads */

/* Most read */
.massive {
  background: #000;
  line-height: 24px;
  font-size: 18px;
  padding: 1px 5px;
  color: #fff;
  margin: 0 0 2px;
}

.most-read a, .most-read a:hover {
  color: #014687;
}

.most-read li {
  border-bottom: 1px solid #d3d2c5;
  padding: 2px 0;
}

time {
  color: #666;
  font-size: 10px;
  line-height: 16px;
}

/*End Most read */

/* Responsive */

@media (max-width: 480px) {
  body {
    background: #efefef;
  }
  .story {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
  }
  .story h2, .story p, .story li {
    margin-left: 10px;
  }
  hr {
    display: none;
  }
  .featured {
    padding: 5px;
  }
  .featured h2 {
    font-size: 32px;
    line-height: 36px;
    margin: 5px; 
  }
  footer {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }
}