/* General */
body {
  /*background: #F6F6F6;*/
}

.panel ul {
  padding-left: 20px;
  font-size: 0.8em;
}

.panel li {
  margin-bottom: 10px;
}

.panel {
  background: #f6f6f6;
}

/* Article full */
figcaption {
  color: #888888;
  display: block;
  font-size: 14px;
  line-height: 1.4em;
  overflow: auto;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 10px;
}

figcaption small {
  font-size: 0.88em;
  margin: 2px 5px 5px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.image {
  margin: 0 -15px 0 -15px; 
}

figcaption p {
  margin: 7px 0;
  padding: 0 15px 0 15px;
}

.title {
  color: #3F3F3F;
  display: block;
  font-family: 'Helvetica Neue',Arial,freesans,sans-serif;
  text-decoration: none !important;
  word-wrap: break-word;
}

.title-large {
  font-size: 32px;
  line-height: 36px;
}

.lead p {
  color: #3F3F3F;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 600;
  margin: 0 0 0.6em;
}

.meta {
  border: 1px solid #E9E9E9;
  font-size: 14px;
  padding: 12px;
  margin-bottom: 15px;
  overflow: auto;
  background: #ffffe5;
}

.meta div {
  padding: 2px 30px 4px 30px;
  background: url(../img/icon-time.png) 0 0 no-repeat;
  float: left;
  margin-bottom: 5px;
}

.meta .share {
  background: url(../img/icon-jump.png) 0 0 no-repeat;
  padding-top: 5px;
}

.meta .last {
  margin-bottom: 0;
}

/* Responsive */
@media only screen and (min-width: 48em) {
  .image {
    margin: 0; 
  }
  .title-large {
    font-size: 52px;
    line-height: 56px;
  }
  figcaption p {
  padding: 0;
  }
  .meta div {
  margin-bottom: 0;
}
}