---
layout: mag
title: Front page
---

<header class="section-header">
  <div class="l-row">
  <h1><a href="/">Forside</a></h1>
  </div>
</header>

<div class="row nf-desktop-ad"></div>

<div class="row nf-desktop-ad-sidebar"></div>

<section class="main-story frontpage-section">
  <div class="row ">
    <div class="large-12 columns">
      <article class="">
        <a href="/story/">
        <img alt="" src="http://gfx.dagbladet.no/labrador/268/268661/26866122/jpg/active/646x270.jpg">
        <header>
          <h1 class="title"> Jeg har egentlig ikke vært meg selv på tre-fire år</h1>
          <p class="lead">Temperamentet er en styrke, mener Tom Nordlie. Vi har spurt spillerne hva de tenker.</p>
        </header>
        </a>

      </article>
    </div>
  </div>
</section>

<section class="most-popular front-section article-grid grid-style-1">
  <header class="center">
    <h2 class="section-heading">Grid 1</h2>
    <!-- <span>Det du vil ha</span> -->
  </header>
  {% include article-grid.html %}
</section>

<section class="front-section article-grid grid-style-2">
  <header class="center">
    <h2 class="section-heading">Grid 2</h2>
    <!-- <span>Det du vil ha</span> -->
  </header>
  {% include article-grid.html %}
</section>

<section class="article--list-small l-container front-section">
  <header class="section--header center">
    <h2 class="title">Grid small</h2>
  </header>

  <div class="l-row">
    <div class="grid-6">
      {% include article-grid-small.html %}
    </div>

    <div class="grid-6">
      {% include article-grid-small.html %}
    </div>
  </div>
</section>

<section class="l-container front-section">
  <h2 hidden>Articles</h2>
  <div class="l-row">
    <section class="grid-4">
      <h2 class="title">Siste</h2>
      {% include article-title-list.html %}
    </section>

    <section class="grid-4">
      <h2 class="title">Ledere</h2>
      {% include article-title-list.html %}
    </section>

    <section class="grid-4">
      <h2 class="title">Mest delt</h2>
      {% include article-title-list.html %}
    </section>
  </div>
</section>

{% include series-section.html %}

<div class="row nf-desktop-ad"></div>
<!-- include ad-desktop-1.html -->

<section class="l-container front-section">
  <header class="section--header center">
    <h2 class="title">Simple list</h2>
    <span>Newsfront gir deg det siste</span>
  </header>

  <div class="l-row">
    {% include article-title-list-2.html %}
  </div>
</section>

{% include hero-section-footer.html %}
