---
layout: mag
title: News section
---

<section class="l-container article-featured front-section">
  <h2 hidden>Featured article</h2>
  <div class="l-row">
    <article>
      <a href="buy.html">
        <header>
          <img alt="" src="http://gfx.dagbladet.no/labrador/268/268661/26866122/jpg/active/646x270.jpg">
          <h1 class="title">Jeg har egentlig ikke vært meg selv på tre-fire år</h1>
          </a>
        </header>

        <p>Temperamentet er en styrke, mener Tom Nordlie.</p>
      </a>
    </article>
  </div>
</section>

<section class="l-container grid-style grid-style--minimal is-popular front-section">
  <header class="section--header center">
    <h2 class="title">Mest populært på NewsFront</h2>
  </header>
  <div class="l-row">
    {% include article-grid.html %}
  </div>
</section>

<section class="l-container grid-style grid-style--bordered front-section">
  <header class="section--header center">
    <h2 class="title">Minst populært på NewsFront</h2>
  </header>
  <div class="l-row">
    {% include article-grid.html %}
  </div>
</section>

{% include series-section.html %}
