// Settings

// Breakpoint
$breakpoint-narrow: 768px;
$breakpoint-medium: 830px;
$breakpoint-wide: 1010px;

// Grids
$grid-max-width: 980px;

// Singularity
//   Equivalent settings of Foundation grid
$grids: 12;
$gutters: 0.555;
