// Variables Partials
// All of your variables should go in this file.

// Font families
$font-family-sans: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$font-family-bold: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$font-family-serif: Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;

// Colors
$color-top-border: #DDD;

// Header
$color-header-bg: #C00;
$color-header-color: white;


// Lists variables
$article-list-border-color: #E5E5E5;
$article-list-link-color:   #333333;


// Grid styles
$grid-style-border-color: #D6D6D6;


// Global Footer variables
$footer-logo:         'nf-logo-light.png';
$footer-bg-color:     #ED232A;
$footer-bar-bg-color: #C9000D;
$footer-border-color: #B5000C;
$footer-font-family:  $font-family-sans;
$footer-font-size:    12px;
$footer-text-color:   white;


// Menu settings
$nf-menu-height:      42px;
$nf-menu-link-pad-v:  11px;
$nf-menu-link-pad-h:  12px;
$nf-menu-line-height: $nf-menu-height - ($nf-menu-link-pad-v * 2);
