// Variables Partials
// All of your variables should go in this file.

// Font families
$font-family-sans: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;;
$font-family-bold: 'Arial Black', 'Arial Bold', Gadget, sans-serif;


// Colors
$color-top-border: #DDD;


// Header
$color-header-bg: #C00;
$color-header-color: white;


// Lists variables
$article-list-border-color: #E5E5E5;
$article-list-link-color:   #333333;


// Grid styles
$grid-style-border-color: #D6D6D6;


// Global Footer variables
$footer-logo:         'nf-logo-light.png';
$footer-bg-color:     #ED232A;
$footer-bar-bg-color: #C9000D;
$footer-border-color: #B5000C;
$footer-font-family:  $font-family-sans;
$footer-font-size:    12px;
$footer-text-color:   white;
