<div class="widget ads row">
    <div class="ad ad-phone small-12 columns">
        <iframe width="100%" scrolling="no" height="100%" style="border-style: none; border-width: 0px; height: 200px;" src="http://mobil.aftenposten.no/template/externalservices/mobil/adtech/aftenposten/mobilTopBannerStor.jsp?inApp=false&amp;model_name=iPhone&amp;device_os=iOS&amp;visAnnonser=true&amp;noAdvertsForFeaturePhones=&amp;testGroup=/index.jsp&amp;page=mobilTopBannerStor&amp;section=Forsiden&amp;sectionUniqueName=ece_frontpage&amp;isFif=true&amp;adtest=false"></iframe>
    </div>
</div>