
<article class="grid-teaser row">
    <div class="small-5 columns">
        <a href="story-n.html">
            <img alt="" src="http://gfx.dagbladet.no/labrador/268/268614/26861419/jpg/active/646x270.jpg">
        </a>
    </div>
    <div class="small-7 columns">
        <a href="story-n.html">
            <h1 class="title">- Låtskrivingen har vært terapi for meg</h1>
            <p class="lead">Astrid vokste opp med aggrassiv hund. Nå snakker hun åpent ut.</p>
        </a>
    </div>                     
</article>
<hr>
<article class="grid-teaser row">
    <div class="small-5 columns">
        <a href="story-n.html">
            <img alt="" src="http://gfx.dagbladet.no/labrador/268/268636/26863655/jpg/active/646x270.jpg">
        </a>
    </div>
    <div class="small-7 columns">
        <a href="story-n.html">
            <h1 class="title">- Aldri om jeg vil tilbake dit</h1>
            <p class="lead">Astrid vokste opp med aggrassiv hund. Nå snakker hun åpent ut.</p>
        </a>
    </div>                     
</article>
<hr>
<article class="grid-teaser row">
    <div class="small-5 columns">
        <a href="story-n.html">
            <img alt="" src="http://gfx.dagbladet.no/labrador/268/268614/26861419/jpg/active/646x270.jpg">
        </a>
    </div>
    <div class="small-7 columns">
        <a href="story-n.html">
            <h1 class="title">- Låtskrivingen har vært terapi for meg</h1>
            <p class="lead">Astrid vokste opp med aggrassiv hund. Nå snakker hun åpent ut.</p>
        </a>
    </div>                     
</article>
<hr>