<section class="">
    <div class="row">
        <div class="large-4 columns">
            <ul class="article-title-list">
                <li class="first-item">
                    <article>
                        <a href="#" class="">Husarbeid og barnepass er ikke kulturutveksling</a>
                    </article>
                </li>
                <li>
                    <article>
                        <a href="#" class="">Bli meg hjem til Sandra Lyng Haugens gale bestefar
                        </a>
                    </article>
                </li>
                 <li>
                    <article>
                        <a href="#" class="">Morgendagens biler trenger bare luft
                        </a>
                    </article>
                </li>
                 <li>
                    <article>
                        <a href="#" class="">Hvor mange svensker trengs for å drive en kafé?
                        </a>
                    </article>
                </li>
                 <li>
                    <article>
                        <a href="#" class="">Den velsignede innvandringen
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>