
  <footer class="l-container footer">
    <nav class="footer--nav l-row">
      <h2 class="footer--logo"><a href="/">Newsfront</a></h2>

      <div class="footer--links">
        <ul class="inline-block-list standard-links">
          <li><a href="#">Om oss</a></li>
          <li><a href="#">Presse</a></li>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Jobb</a></li>
          <li><a href="#">Annonsere</a></li>
          <li><a href="#">Personvern</a></li>
          <li><a href="#">Retningslinjer</a></li>
        </ul>

        <p>© 2013 Navn på Avis. Anvarlig redaktør: Nils Nilsen. <a href="http://www.frontkom.no">Drupal CMS ved Frontkom</a></p>
      </div>
    </nav>

    <section class="footer--bar l-container hide-mobile">
      <div class="l-row">
        <h2 hidden>Kontakt</h2>

        <ul class="inline-list footer--bar-list">
          <li><strong>Postadresse:</strong></li>
          <li>Boks 1000 Sentrum, 0100 Oslo</li>
          <li><strong>Besøksadresse:</strong></li>
          <li>Akersgata 1, 0100 Oslo</li>
          <li><strong>Sentralbord/Redaksjonen:</strong></li>
          <li><a href="tel:+4705000">69300000</a></li>
        </ul>
      </div>
    </section>
  </footer>
