
<section class="hero" style="background-image: url(/img/assets/placeholder--hero-bottom.jpg); height: 704px;">

  <div class="l-row">
    <div class="hero--box overlay center">
      <h2 class="hero--label">Fokus</h2>

      <article class="hero--article">
        <header>
          <h1 class="title"><a href="story-n.html">Verdensbefolkning øker dobbelt så fort som vi trodde</a></h1>
        </header>

        <p><a href="story-n.html">Dette endrer alt, sier forsker</a></p>

        <footer>
          <a href="#" class="btn-simple light">Les mer</a>
        </footer>
      </article>
    </div>
  </div>

</section>
