<nav id="nf-menu-top" class="nf-mainbar nf-white nf-small">
  <section class="nf-brand"><a href="#">Newsfront</a></section>
  <section class="nf-toggle-sub" data-toggle=".nf-mainbar-sub"><a href="#">Meny</a></section>
  <section class="nf-mainbar-keep">
    <ul>
      <li class=""><a href="static.html" class="">Abonnér</a></li>
      <li class="divider"></li>
      <li class=""><a href="search.html" class="">Søk</a></li>
      <li class="divider"></li>
    </ul>
  </section>
  <section class="nf-mainbar-section">
    <ul>
      <li><a href="section-ledere.html">Meninger</a></li>
      <li class="divider"></li>
      <li><a href="section-mag.html">Kultur</a></li>
      <li class="divider"></li>
    </ul>
  </section>
  <section class="nf-mainbar-sub">
    <ul>
      <li><a href="#">Forside</a></li>
      <li><a href="#">Nyheter</a></li>
      <li><a href="#">TV guide</a></li>
      <li><a href="#">Spill</a></li>
      <li><a href="#">Eiendom</a></li>
      <li><a href="#">Jobbmarked</a></li>
      <li><a href="#">Bildeserier</a></li>
      <li><a href="#">Reise</a></li>
      <li><a href="#">Om oss</a></li>
      <li><a href="#">A-Å</a></li>
    </ul>
  </section>
</nav>
