<section class="related-stories dark">
    
    <div class="row">
      <!-- <h6 class="badge">Next in the issue</h6> -->
      <article class="related-story small-6 large-3 columns">
        <a href="#">
          <img src="http://cdn.thedailybeast.com/content/newsweek/2013/06/05/why-your-doctor-is-afraid-of-your-dna/jcr:content/image.crop.410.273.jpg/1370454892969.cached.jpg" class="">
          <div class="related-details">
            <h5 class="section-label">Helse</h5>
            <h3 class="related-title">Abilia kjøper opp Hospital IT for ukjent sum</h3>
          </div>
        </a>
      </article>
      <article class="related-story small-6 large-3 columns">
        <a href="#">
          <img src="http://cdn.thedailybeast.com/content/newsweek/2013/06/05/is-it-ethical-to-sell-a-human-embryo/jcr:content/image.crop.410.273.jpg/1370696309561.cached.jpg" class="">
          <div class="related-details">
            <h5 class="section-label">Teknologi</h5>
            <h3 class="related-title">The Morality Test</h3>
          </div>
        </a>
      </article>
      <article class="related-story small-6 large-3 columns">
        <a href="#">
          <img src="http://cdn.thedailybeast.com/content/newsweek/2013/06/05/why-your-doctor-is-afraid-of-your-dna/jcr:content/image.crop.410.273.jpg/1370454892969.cached.jpg" class="">
          <div class="related-details">
            <h5 class="section-label">Helse</h5>
            <h3 class="related-title">Abilia kjøper opp Hospital IT for ukjent sum</h3>
          </div>
        </a>
      </article>
      <article class="related-story small-6 large-3 columns">
        <a href="#">
          <img src="http://cdn.thedailybeast.com/content/newsweek/2013/06/05/is-it-ethical-to-sell-a-human-embryo/jcr:content/image.crop.410.273.jpg/1370696309561.cached.jpg" class="">
          <div class="related-details">
            <h5 class="section-label">Teknologi</h5>
            <h3 class="related-title">The Morality Test</h3>
          </div>
        </a>
      </article>
    </div>
</section>