<section class="l-container related dark">
  <h2 hidden>Related stories</h2>

  <div class="l-row">
    <article class="related--article grid-3">
      <a href="#">
        <img src="/img/assets/placeholder--related-article.png" alt="">

        <div class="related--details">
          <h5 class="related--label">Helse</h5>
          <h3 class="related--title">Abilia kjøper opp Hospital IT for ukjent sum</h3>
        </div>
      </a>
    </article>

    <article class="related--article grid-3">
      <a href="#">
        <img src="/img/assets/placeholder--related-article-2.png" alt="">

        <div class="related--details">
          <h5 class="related--label">Teknologi</h5>
          <h3 class="related--title">The Morality Test</h3>
        </div>
      </a>
    </article>

    <article class="related--article grid-3">
      <a href="#">
        <img src="/img/assets/placeholder--related-article.png" alt="">

        <div class="related--details">
          <h5 class="related--label">Helse</h5>
          <h3 class="related--title">Abilia kjøper opp Hospital IT for ukjent sum</h3>
        </div>
      </a>
    </article>

    <article class="related--article grid-3">
      <a href="#">
        <img src="/img/assets/placeholder--related-article-2.png" alt="">

        <div class="related--details">
          <h5 class="related--label">Teknologi</h5>
          <h3 class="related--title">The Morality Test</h3>
        </div>
      </a>
    </article>
  </div>
</section>
