  <section class="series l-container front-section">
    <div class="l-row">
      <header class="section--header center">
        <h2 class="title">Serier</h2>
        <span>Våre beste reportasjeserier</span>
      </header>

      <article class="series--promo">
        <header>
          <a href="/pluss/spesial/foreldreskolen">
            <img alt="" class="image-round" src="/img/assets/placeholder--square-photo.jpg">
            <h1 class="title">Foreldreskolen</h1>
          </a>
        </header>

        <div class="content">
          <p>Hver uke i Magasinet tar Håvard Tjora opp problemstillinger rundt oppdragelse.</p>
        </div>

        <footer class="center">
          <a class="btn-simple" href="#">Les serien</a>
          <p class="muted"><strong>20</strong> artikler</p>
        </footer>
      </article>

      <article class="series--promo">
        <header>
          <a href="/pluss/spesial/foreldreskolen">
            <img alt="" class="image-round" src="/img/assets/placeholder--square-photo.jpg">
            <h1 class="title">Pensjonsskolen</h1>
          </a>
        </header>

        <div class="content">
          <p>Vet du hva du får i pensjon? Vet du hvilke grep du bør ta - og hvilke feller du bør unngå - for å sikre økonomien som pensjonist? Dagbladets Pensjonsskole har alle svarene - og de gode rådene.</p>
        </div>

        <footer class="center">
          <a class="btn-simple" href="#">Les serien</a>
          <p class="muted"><strong>20</strong> artikler</p>
        </footer>
      </article>

      <article class="series--promo">
        <header>
          <a href="/pluss/spesial/foreldreskolen">
            <img alt="" class="image-round" src="/img/assets/placeholder--square-photo.jpg">
            <h1 class="title">Bokettersynet</h1>
          </a>
        </header>

        <div class="content">
          <p>Bli med hjem og se i bokhylla til kjente nordmenn. Bøkene avslører skjulte sider ved de som eier dem.</p>
        </div>

        <footer class="center">
          <a class="btn-simple" href="#">Les serien</a>
          <p class="muted"><strong>5</strong> artikler</p>
        </footer>
      </article>
    </div>
  </section>
