// Style File
//
// This file gets turned into style.css. This file should really
//  hold nothing except for imports of your base, layout, and design
//  partials.

// Legacy support
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;

// Global Import
@import 'partials/global/base';

// Import Base
@import 'partials/base/base';

// Import Layouts
@import 'partials/layout/layout';

// Import Modules
@import 'partials/module/module';

// Import States
@import 'partials/state/state';


// Modules
@import 'modules/misc';
@import 'modules/article';
@import 'modules/search';
@import 'modules/search-box';
@import 'modules/responsive';
@import 'modules/buttons';
@import 'modules/menu';
@import 'modules/searchbox-nf';
