/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot');
  src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sb-search {
  position: relative;
  width: 0%;
  min-width: 60px;
  height: 30px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
  .sb-search-input {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    //border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 30px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #222;
    //
    // background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQAyLzI4LzEzsZYoFwAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAQZJREFUOI2lk8FxwjAQRZ89KSAlQAUw8xsgFUAqCB3gUkgHoQPcAQVoD3SQTszBm0RaZM9A/owO3v1+0u5KDZkkbYAO2FKqB45mdglxhmEAoMkgR+AQjUGfZtbVQO0M5Oor18G9d2q9nBzSA0szW5vZGlh6LIdtIuiFsSe/EDPb5QYz+wZ2ks789a4DLsWJKBtb1B+U5+Iwxh65rr57VZ6LPauC/qUctJK0mDJ6bjUHyidSHW0l18dkGwxbSef8ZJIWYWLVDRs3T11IqJdzMrM9PP9E7mDFEwHwN/RGpX6PvVOO/0PS189HE/+Yk6RXxhudl3tKKe0fAs3BHgZNwZ4CRVhKqbkBRkZiP2uGGPsAAAAASUVORK5CYII=") no-repeat scroll 8px 8px #FDFDFD;
    // border-color: #DEDEDE #E3E3E3 #EBEBEB;
    // border-image: none;
    // border-radius: 2px 2px 2px 2px;
    // border-style: solid;
    // border-width: 1px;
    // box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.02) inset;
    // display: none;
    // outline: 0 none;
    // padding: 8px 8px 8px 33px;
    // width: 146px;
  }
}

.sb-search-open {
  .sb-search-input {
    display: block;
  }
}

.sb-search-input::-webkit-input-placeholder {
  color: #ddd;
}

.sb-search-input:-moz-placeholder {
  color: #ddd;
}

.sb-search-input::-moz-placeholder {
  color: #ddd;
}

.sb-search-input:-ms-input-placeholder {
  color: #ddd;
}

.sb-icon-search,
.sb-search-submit  {
  width: 30px;
  height: 31px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff; /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: #555;
  background: transparent;
  z-index: 90;
  font-size: 22px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
  content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  color: #111;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}
