.object-header {
  min-height: 27px;
  padding-bottom: 21px;
}

.search-page-form {
  margin: 0 0 3px;
}

.object-header .search-form-input {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQAyLzI4LzEzsZYoFwAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAQZJREFUOI2lk8FxwjAQRZ89KSAlQAUw8xsgFUAqCB3gUkgHoQPcAQVoD3SQTszBm0RaZM9A/owO3v1+0u5KDZkkbYAO2FKqB45mdglxhmEAoMkgR+AQjUGfZtbVQO0M5Oor18G9d2q9nBzSA0szW5vZGlh6LIdtIuiFsSe/EDPb5QYz+wZ2ks789a4DLsWJKBtb1B+U5+Iwxh65rr57VZ6LPauC/qUctJK0mDJ6bjUHyidSHW0l18dkGwxbSef8ZJIWYWLVDRs3T11IqJdzMrM9PP9E7mDFEwHwN/RGpX6PvVOO/0PS189HE/+Yk6RXxhudl3tKKe0fAs3BHgZNwZ4CRVhKqbkBRkZiP2uGGPsAAAAASUVORK5CYII=") no-repeat scroll 11px 16px #FDFDFD;

  border-color: #DEDEDE #E3E3E3 #EBEBEB;
  border-style: solid;
  border-width: 1px;
  @include border-radius(2px);

  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.02) inset;

  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 5px;
  outline: 0 none;
  padding: 10px 0 8px 37px;
}

.search-story-list .object-header-meta {
  clear: left;
  display: block;
  top: 0;
}

.result-number, .result-query {
  color: #797979;
  font-size: em(13);
  font-weight: 700;
  line-height: em(20);
}

.result-query {
  color: #aaa;
  font-weight: normal;
}

.object-header-link {
  color: #C0C0C0;
  font-size: em(12);
  text-decoration: none;
}

.story-kicker {
  color: #606060;
  font-size: 0.688em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 12px;
  margin-bottom: 4px;
}

mark {
  font-weight: bold;
}

.story-meta {
  float: left;
  margin-bottom: 5px;
}

.story-meta-item:first-child:before {
  content: none;
  margin: 0;
}

.story-meta-item:before {
  color: #666666;
  content: "·";
  margin: 2px 0 0 -3px;
  position: absolute;
}

.story-meta-item {
  margin-right: 1px;
  position: relative;
}

.story-meta-item, .story-meta-item-link {
  color: #606060;
  display: inline-block;
  font-size: 0.75em;
}

abbr.published:before {
  color: #666666;
  content: "·";
  font-size: 12px;
  margin: 0 0 0 -7px;
  position: absolute;
}

.search--result {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: em(24);
  padding-top: em(24);
  position: relative;
  @extend %clearfix;

  .grid-9 {
    @include grid-span(8,5);
  }
  header {
    h2 {
      margin-top: 0;
    }
    a {}
  }
  .story-date {
    clear: both;
    margin: 0;
    padding: 0;

    color: #999;
    font-size: em(12);
    font-weight: normal;
  }
}

.search--result-thumb {
  @include grid-span(4,1);

  img {
    width: 100%;
    height: auto;
  }

  @include breakpoint($breakpoint-small) {
    @include grid-span(3,1);
  }
}

.search--result-text {
  @include grid-span(8,5);

  .story-title {
    font-size: em(19);
    line-height: em(25,22);
    margin-bottom: 1px;
    vertical-align: top;

    a {
      color: #000;
    }
  }
  .story-description {
    clear: both;
    margin: 0;
    padding: 0;

    color: #666;
    font-size: em(13);
    line-height: em(20);

    img {
      display: none;
    }
  }

  @include breakpoint($breakpoint-small) {
    @include grid-span(9,4);

    .story-title {
      font-size: em(22);
    }
    .story-description {
      font-size: em(20);
    }
  }
}
