---
layout: mag
title: Front page
---

<header class="section-header">
  <h1 class="title">Kultur</h1>
</header>

{% include hero-section-top.html %}

<section class="l-container article-featured front-section">
  <h2 hidden>Featured article</h2>
  <div class="l-row">
    <article>
      <a href="/">
        <header>
          <img alt="" src="http://gfx.dagbladet.no/labrador/156/156392/15639289/jpg/active/978x.jpg">
          <h1 class="title">Vil dere vite hvorfor jeg alltid kommer tilbake til Norge?</h1>
        </header>

        <p>Country-fenomenet Taylor Swift trollbinder publikum med ord og toner. Og ikke så rent lite sjarm.</p>
      </a>
    </article>
  </div>
</section>

<section class="l-container front-section grid-style grid-style--bordered">
  <header class="section--header center">
    <h2 class="title">Grid 2</h2>
  </header>
  <div class="l-row">
    {% include article-grid.html %}
  </div>
</section>

{% include series-section.html %}

<section class="l-container front-section">
  <header class="section--header center">
    <h2 class="title">Siste inn</h2>
    <span>Newsfront gir deg det siste</span>
  </header>

  <div class="l-row">
    {% include article-title-list-2.html %}
  </div>
</section>
