p {
  font-size: em(20);
  line-height: em(30,20);
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  color: black;
  font-family: $font-family-sans;
  text-decoration: none;
  word-wrap: break-word;
}

.title--large {
  font-size: em(32);
  line-height: em(36,32);

  @include breakpoint($breakpoint-tablet-portrait) {
    font-size: em(52);
    line-height: em(56,52);
  }
}

.title--aside {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.small {
  font-size: 60%;
  line-height: inherit;
}

.muted {
  color: #777;
}
