%l-container {
  clear: both;
  position: relative;
  width: 100%;
  text-align: center;
}

%l-row {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-max-width;
  @extend %clearfix;

  text-align: left;
}

// Structure
.l-container {
  @extend %l-container;
}

.l-row {
  @extend %l-row;
}

// Build grid
@include breakpoint($breakpoint-narrow) {
  @for $i from 1 through $grids {
    .grid-#{$i} {
      @include float-span($i);

      @if $i > 1 {
        &:nth-child(#{$grids/$i}n) {
          @include float-span($i, 'omega');
        }
      }
    }
  }
}

.omega {
  margin-right: 0;
}


// Lists
.inline-block-list {
  @include inline-block-list;
}
