// Ads on/off
.ads, .top-wrapper {
  display: block;
}

// Desktop ads
.hide-for-medium-down {
  margin-bottom: 15px;
}

// Desktop sidebar
.ads-sidebar-wrapper {
  margin-bottom: 0;
  position: relative;
  .ads-sidebar {
    margin-top: 0;
    padding: 0;
    position: absolute;
    right: -195px;
    top: 0;
    width: 180px;
    background: transparent;
    .ad {
      margin-bottom: 15px;
    }
  }
}

// After header
header + .ads {
  margin-bottom: 15px;
}

// After comment section
.article-wrapper + .ads {
  margin-top: 20px;
}

// Two ads after each other
.ads + .ads {
  margin-top: 15px;
}

.top-wrapper .ads + .ads {
  margin-top: 0;
}

// After article byline
.meta + .ads {
  margin: 20px 0;
}

// Ad inline
.ad-inline {
  margin-bottom: 15px;
}

// Top bar.
.top-wrapper {
  border-bottom: 1px solid $color-top-border;

  .show-for-small .ad {
    padding-left: 0;
    padding-right: 0;
  }
}
