// Global Footer
.footer {
  margin-top: 20px;
  padding-top: 20px;

  background-color: $footer-bg-color;
  border-top: 6px solid $footer-border-color;

  color: $footer-text-color;
  font-family: $footer-font-family;
  font-size: $footer-font-size;

  a {
    color: $footer-text-color;
  }
}

.footer--nav {
  margin-top: 30px;
  margin-bottom: 10px;

  @include breakpoint(max-width $breakpoint-medium) {
    text-align: center;
  }
}

.footer--logo {
  @include breakpoint(max-width $breakpoint-medium) {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint($breakpoint-medium) {
    @include grid-span(3, 1.5);
    margin-top: 2px;
  }
  @include breakpoint($breakpoint-wide) {
    @include grid-span(3, 1);
  }
}

.footer--logo a {
  @include replace-text-with-dimensions($footer-logo);
  display: block;
}

.footer--links {
  @include breakpoint($breakpoint-medium) {
    @include grid-span(8, 4.5);
  }
  @include breakpoint($breakpoint-wide) {
    @include grid-span(9, 4);
  }
}

.footer--links p {
  font-size: $footer-font-size - 1;
  margin-bottom: 0;
}

.standard-links {
  // If re-usable, move .standard-links to 'links' modules
  margin: 0 auto 4px;

  li {
    margin: 4px 5px;
    text-transform: uppercase;
  }
  li:nth-child(1) {
    margin-left: 0;
  }
}

.footer--bar {
  background-color: $footer-bar-bg-color;
  margin-top: 2em;
  padding-top: 20px;
  padding-bottom: 20px;

  .l-row {
    @include breakpoint(max-width $breakpoint-wide) {
      text-align: center;
    }
  }
}

.footer--bar-list {
  display: inline-block;
  margin: 0 auto;

  @include breakpoint($breakpoint-wide) {
    li:nth-child(1) {
      margin-left: 0;
    }
  }
}
