// Series
.series {}

.series--promo {
  @include breakpoint($breakpoint-medium) {
    @include float-span(4);
    padding-bottom: 1.25em;

    &:nth-child(3n) {
      @include float-span(4, 'omega');
    }
  }
}

.series--promo {
  .title {
    font-size: 28px;
    line-height: 30px;
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;

    &.muted {
      font-size: 1.25em;
      text-align: center;
      margin-bottom: 1.25em;
    }
  }
  .title, p {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer {
    margin-top: 1.25em;
    padding-top: 1.25em;

    border-top: 4px solid black;
  }

  @include breakpoint(max-width $breakpoint-medium) {
    .image-round {
      @include block-center;
      max-width: 200px;
    }
    .muted {
      display: inline-block;
    }
    footer {
      margin-bottom: 1.25em;
    }
  }
}
