// Series
.series {}

.series--promo {
  @include breakpoint($breakpoint-narrow) {
    @include float-span(4);
    padding-bottom: 1.25em;

    &:nth-child(3n) {
      @include float-span(4, 'omega');
    }
  }
}

.series--promo {
  header {
    text-align: center;
  }
  .title {
    font-size: em(28);
    line-height: em(30,28);
  }
  p {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;

    &.muted {
      display: block;
      margin-bottom: 1.25em;

      font-size: 1.25em;
      text-align: center;
    }
  }
  .title, p {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer {
    margin: 1.25em 0;
    padding-top: 1.25em;

    border-top: 4px solid black;
  }

  @include breakpoint(max-width $breakpoint-medium) {
    .title {
      font-size: em(25);
    }
    p {
      font-size: em(13);
    }
    .image-round {
      @include block-center;
      max-width: 200px;
    }
  }
}
