<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %} {{ page.title }} | {% endif %} NewsFront</title>

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="top-wrapper">
    {% include ad-mobile.html %}
  </div>

  <header class="header" id="header">
    {% include menu-top.html %}
  </header>

  {{ content }}

  {% include footer-global.html %}

  {% include scripts-global.html %}
</body>
</html>
