<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %} {{ page.title }} | {% endif %} NewsFront</title>

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="top-wrapper">
    {% include ad-mobile.html %}
  </div>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">NewsFront</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Meny</span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><a href="#">Nyheter</a></li>
        <li class="divider"></li>
        <li><a href="#">Meninger</a></li>
        <li class="divider"></li>
        <li><a href="#">Kultur</a></li>
        <li class="divider"></li>
        <li><a href="#">Abonnér</a></li>
      </ul>
    </section>
  </nav>

  <header class="section-header l-container">
    <div class="l-row">
      <h1><a href="#">Nyheter</a></h1>
    </div>
  </header>

  {{ content }}

  {% include footer-global.html %}

  {% include scripts-global.html %}
</body>
</html>
