---
layout: mag
title: Meninger article
---
<header class="section-header">
    <div class="row">
      <div class="large-12 columns">
        <h1><a href="front-mag.html">Meninger</a></h1>
      </div>
    </div>
</header>

<div class="row nf-desktop-ad"></div>

<div class="row article-wrapper">
    <div class="large-12 columns">
        <article itemtype="http://schema.org/Article" role="main" class="article">
            <header>
                <h1 class="title title-large" itemprop="name headline">Politiet er fanget</h1>
                <div class="lead" itemprop="description">
                     <p>Politianalyseutvalgets rapport er like knusende som 22. juli-kommisjonens dom over norsk politi. Politiet er blitt fanget av sin egen ineffektivitet.</p>
                </div>
            </header>

            <div class="meta">
                <div class="by">
                    <strong>Helge Simmones</strong>
                </div>
                <div class="published">
                    <time title="Publisert 28.06.2013, kl. 07:37, Sist oppdatert 26.04.2013, kl. 09:43" pubdate="" datetime="2013-04-26"><span class="hidden">Publisert </span>28.06.2013, kl. 07:37</time>
                </div>
                <div class="share last">
                    <a href="#">Del med andre</a>
                </div>
            </div>

            <div class="nf-mobile-ad"></div>

            <div class="row">
                <div class="large-8 columns">
                    <div class="body-content">
                        <p>Normalt er det politiet som jakter, men etter 22. juli har norsk politi blitt jaget og rundjult av en rekke offentlige utvalg. Nå trenger ikke Grethe Faremo flere rapporter. Operasjon politireform er for lengst startet og kan intensiveres.</p>

                        <p>VG kan i dag melde at politianalyseutvalgets rapport er knusende. Den tegner et bilde av et politi som er stengt, fraværende og kostbart. Evnen til nytenkning er svært mangelfull, og norsk politi er langt mindre effektivt enn polititjenestene i våre naboland. Det mangler ikke på ressurser til politiet, men organiseringen er svært mangelfull.</p>

                        <p>Vårt Land forteller i dag at politiet er nødt til å sommerlukke mange lokale politikontor for å spare penger. Det er nok et eksempel på at politiet sliter med å være til stede der publikum er. Den manglende tilstedeværelsen er utfordrende for tilliten til politiet.</p>

                        <p> 22. juli-kommisjonen var så drepende kritisk til politiet at regjeringen så seg nødt til å nedsette nok et utvalg som skulle analysere utfordringene i norsk politi. Arbeidsgruppen ble etablert i november 2012 og ble bedt å levere rapporten innen juni 2013. Den korte fristen viser hvor travelt justisminister Grethe Faremo har det med å reformere politietaten.</p>

                        <p>Det er ikke lenger Arne Johannessen som kommenterer nok en dyster rapport på vegne av fagforeningen Politiets Fellesforbund. I morgenenes nyhetssendinger var Sigve Bolstad langt mer forsiktig enn forgjengeren. Fagforeningen har trolig innsett at det ikke nytter å holde på den steile linjen. Trykket fra samfunnet er blitt for stort til at tradisjonell fagforeningsretorikk kan nytte.</p>

                        <p>Politiet er en stor, offentlig monopoletat. Normalt skal det mye til for å ryste en slik enhet. 22. juli ble den store rystelsen. Det er tankevekkende at en hendelse av en så alvorlig karakter måtte til for at det skjer noe med politiet. Det er ikke bare politiets egen skyld. Anklagen må også rettes mot våre politikere som ikke maktet å utfordre ukulturen i politiet.</p>

                        <blockquote class="blockquote">
                            <div class="quotewrap multiple">
                                <p>- Politianalyseutvalgets rapport er like knusende som 22. juli-kommisjonens dom over norsk politi. Politiet er blitt fanget av sin egen ineffektivitet.</p>
                            </div
                        ></blockquote>

                        <p> 22. juli-kommisjonen var så drepende kritisk til politiet at regjeringen så seg nødt til å nedsette nok et utvalg som skulle analysere utfordringene i norsk politi. Arbeidsgruppen ble etablert i november 2012 og ble bedt å levere rapporten innen juni 2013. Den korte fristen viser hvor travelt justisminister Grethe Faremo har det med å reformere politietaten.</p>

                    </div>

                </div>

                <div class="large-4 columns">
                    <h3 class="aside-heading">Meninger</h3>
                    {% include article-title-list.html %}
                </div>
            </div>

            <footer class="row">
                <div class="large-12 columns">
                    <hr>
                    <dl class="sub-nav">
                      <dd class="active"><a href="#">andre verdenskrig</a></dd>
                      <dd class="active"><a href="#">kongehuset</a></dd>
                      <dd class="active"><a href="#">hebron</a></dd>
                      <dd class="active"><a href="#">UDI</a></dd>
                    </dl>
                    <hr>

                </div>
            </footer>

            <div class="row">
                <div class="large-8 columns">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'frontkom'; // required: replace example with your forum shortname

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
                <div class="large-4 columns">
                    <!-- <h6><a href="#">Unge bruker ikke stemmeretten, de eldre går i fra</a></h6>
                    <h6><a href="#">- Nå må verden få opp øynene for hva tekstilindustrien gjør med folk</a></h6>
                    <h6><a href="#">- Nå må verden få opp øynene for hva tekstilindustrien gjør med folk</a></h6> -->
                </div>
            </div>
        </article>
    </div>
</div>

<div class="nf-mobile-ad"></div>

<div class="row">
    <div class="small-12 columns">
        <h3 class="aside-heading">Les mer</h3>
        {% include article-title-list-2.html %}
    </div>

</div>

{% include related.html %}
