---
layout: mag
title: Meninger article
---

<header class="section-header">
  <h1 class="title"><a href="/meninger/">Meninger</a></h1>
</header>

<div class="row nf-desktop-ad"></div>

<div class="l-container article-wrapper">
  <div class="l-row">
    <article role="main" class="article" itemtype="http://schema.org/Article" itemscope>
      <header>
        <h1 class="title title--large" itemprop="name headline">Politiet er fanget</h1>

        <div class="article--lead" itemprop="description">
          <p>Politianalyseutvalgets rapport er like knusende som 22. juli-kommisjonens dom over norsk politi. Politiet er blitt fanget av sin egen ineffektivitet.</p>
        </div>

        <ul class="article--meta">
          <li class="by"><i class="icon-time"></i> Helge Simnones</li>
          <li><time title="Publisert 28.06.2013, kl. 07:37, Sist oppdatert 26.04.2013, kl. 09:43" datetime="2013-04-26"><i class="icon-pubdate"></i> Publisert 28.06.2013, kl. 07:37</time></li>
          <li><a href="#"><i class="icon-share"></i> Del med andre</a></li>
        </ul>
      </header>

      <div class="nf-mobile-ad"></div>

      <div class="l-row">
        <div class="grid-8 article--body">
          <p>Normalt er det politiet som jakter, men etter 22. juli har norsk politi blitt jaget og rundjult av en rekke offentlige utvalg. Nå trenger ikke Grethe Faremo flere rapporter. Operasjon politireform er for lengst startet og kan intensiveres.</p>

          <p>VG kan i dag melde at politianalyseutvalgets rapport er knusende. Den tegner et bilde av et politi som er stengt, fraværende og kostbart. Evnen til nytenkning er svært mangelfull, og norsk politi er langt mindre effektivt enn polititjenestene i våre naboland. Det mangler ikke på ressurser til politiet, men organiseringen er svært mangelfull.</p>

          <p>Vårt Land forteller i dag at politiet er nødt til å sommerlukke mange lokale politikontor for å spare penger. Det er nok et eksempel på at politiet sliter med å være til stede der publikum er. Den manglende tilstedeværelsen er utfordrende for tilliten til politiet.</p>

          <p> 22. juli-kommisjonen var så drepende kritisk til politiet at regjeringen så seg nødt til å nedsette nok et utvalg som skulle analysere utfordringene i norsk politi. Arbeidsgruppen ble etablert i november 2012 og ble bedt å levere rapporten innen juni 2013. Den korte fristen viser hvor travelt justisminister Grethe Faremo har det med å reformere politietaten.</p>

          <p>Det er ikke lenger Arne Johannessen som kommenterer nok en dyster rapport på vegne av fagforeningen Politiets Fellesforbund. I morgenenes nyhetssendinger var Sigve Bolstad langt mer forsiktig enn forgjengeren. Fagforeningen har trolig innsett at det ikke nytter å holde på den steile linjen. Trykket fra samfunnet er blitt for stort til at tradisjonell fagforeningsretorikk kan nytte.</p>

          <p>Politiet er en stor, offentlig monopoletat. Normalt skal det mye til for å ryste en slik enhet. 22. juli ble den store rystelsen. Det er tankevekkende at en hendelse av en så alvorlig karakter måtte til for at det skjer noe med politiet. Det er ikke bare politiets egen skyld. Anklagen må også rettes mot våre politikere som ikke maktet å utfordre ukulturen i politiet.</p>

          <blockquote>
            <p>- Politianalyseutvalgets rapport er like knusende som 22. juli-kommisjonens dom over norsk politi. Politiet er blitt fanget av sin egen ineffektivitet.</p>
          </blockquote>

          <p>22. juli-kommisjonen var så drepende kritisk til politiet at regjeringen så seg nødt til å nedsette nok et utvalg som skulle analysere utfordringene i norsk politi. Arbeidsgruppen ble etablert i november 2012 og ble bedt å levere rapporten innen juni 2013. Den korte fristen viser hvor travelt justisminister Grethe Faremo har det med å reformere politietaten.</p>
        </div>

        <aside class="grid-4 omega">
          <h3 class="title--aside">Meninger</h3>
          {% include article-title-list.html %}
        </aside>
      </div>

      <footer class="l-row">
        <ul class="tags">
          <li><a href="#">andre verdenskrig</a></li>
          <li><a href="#">kongehuset</a></li>
          <li><a href="#">hebron</a></li>
          <li><a href="#">UDI</a></li>
        </ul>
      </footer>

      <div class="l-row">
        <div class="grid-8">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'frontkom'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="nf-mobile-ad"></div>

<div class="l-container">
  <section class="l-row">
    <h3 class="title--aside">Les mer</h3>
    {% include article-title-list-2.html %}
  </section>
</div>

{% include related.html %}
