---
layout: mag
title: Front page
---

<header class="section-header">
  <h1 class="title">Meninger</h1>
</header>

<section class="frontpage-section main-story">
    <div class="row ">
        <div class="large-12 columns">
            <article class="">
                <a href="leder-n.html">
                    <img id="nf-meninger-main" alt="" src="">
                    <header>
                        <h1 class="title">En president vender tilbake</h1>
                        <p class="lead">Etter to lange perioder vurderer Jr å gi politikken en ny sjanse. Her er 10 grunner til at han vil lykkes.</p>
                    </header>
                </a>

            </article>
        </div>
    </div>
</section>

<section class="row frontpage-section">
    <div class="small-12 columns">
        <header class="center divider">
            <h2 class="section-heading">Meninger</h2>
            <span>Fra redaksjonen</span>
        </header>
        {% include article-title-list-2.html %}
    </div>
</section>

<section class="front-section article-grid grid-style-2">
    <!-- <header class="center">
        <h2 class="section-heading">Grid 2</h2>
    </header> -->
    {% include article-grid.html %}
</section>


