---
layout: mag
title: Front page
---

<header class="section-header">
  <h1 class="title">Meninger</h1>
</header>

<section class="l-container article-featured front-section">
  <h2 hidden>Featured article</h2>
  <div class="l-row">
    <article>
      <a href="/meninger/leder/">
        <header>
          <img id="nf-meninger-main" alt="" src="">
          <h1 class="title">En president vender tilbake</h1>
        </header>

        <p>Etter to lange perioder vurderer Jr å gi politikken en ny sjanse. Her er 10 grunner til at han vil lykkes.</p>
      </a>
    </article>
  </div>
</section>

<section class="l-container front-section">
  <header class="section--header center">
    <h2 class="title">Meninger</h2>
    <span>Fra redaksjonen</span>
  </header>

  <div class="l-row">
    {% include article-title-list-2.html %}
  </div>
</section>

<section class="l-container front-section grid-style grid-style--bordered">
  <header class="section--header center">
    <h2 class="title">Grid 2</h2>
  </header>
  <div class="l-row">
    {% include article-grid.html %}
  </div>
</section>
